.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.891113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.942000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.120240px;}
.lsd{letter-spacing:-0.096000px;}
.lsc{letter-spacing:-0.087840px;}
.ls4{letter-spacing:-0.080160px;}
.lsa{letter-spacing:-0.055920px;}
.ls5{letter-spacing:-0.048000px;}
.ls7{letter-spacing:-0.043920px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.043920px;}
.ls8{letter-spacing:0.048000px;}
.ls1{letter-spacing:0.055920px;}
.lsb{letter-spacing:0.087840px;}
.ls9{letter-spacing:0.131760px;}
.ls6{letter-spacing:0.219600px;}
.lse{letter-spacing:0.351360px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsd{word-spacing:-0.351360px;}
.ws5{word-spacing:-0.219600px;}
.ws8{word-spacing:-0.131760px;}
.wsb{word-spacing:-0.087840px;}
.ws1{word-spacing:-0.055920px;}
.ws7{word-spacing:-0.048000px;}
.ws2{word-spacing:-0.043920px;}
.ws0{word-spacing:0.000000px;}
.ws6{word-spacing:0.043920px;}
.ws9{word-spacing:0.048000px;}
.wsa{word-spacing:0.055920px;}
.ws4{word-spacing:0.080160px;}
.wsc{word-spacing:0.087840px;}
.ws3{word-spacing:0.120240px;}
._c{margin-left:-135.706160px;}
._4{margin-left:-2.784000px;}
._3{margin-left:-1.152000px;}
._1{width:1.054080px;}
._7{width:19.108720px;}
._8{width:20.727360px;}
._a{width:21.983520px;}
._5{width:36.556000px;}
._b{width:65.567200px;}
._9{width:114.075200px;}
._6{width:134.087760px;}
._2{width:626.496000px;}
._0{width:1407.936000px;}
.fc2{color:rgb(91,155,213);}
.fc1{color:rgb(112,173,71);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:40.080000px;}
.fs1{font-size:43.920000px;}
.fs5{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs2{font-size:55.920000px;}
.fs0{font-size:96.000000px;}
.yc{bottom:-17.219500px;}
.y5{bottom:2.399900px;}
.ya{bottom:11.099800px;}
.y7{bottom:30.660200px;}
.y1a{bottom:36.660200px;}
.y54{bottom:54.779900px;}
.y2a{bottom:56.000000px;}
.y5a{bottom:58.284000px;}
.y19{bottom:58.500000px;}
.y59{bottom:71.460000px;}
.y50{bottom:102.959260px;}
.y18{bottom:104.104500px;}
.y0{bottom:105.000000px;}
.y17{bottom:118.564500px;}
.y16{bottom:132.179700px;}
.y58{bottom:145.235400px;}
.y53{bottom:149.100000px;}
.y15{bottom:154.799800px;}
.y57{bottom:160.564500px;}
.y56{bottom:175.025400px;}
.y14{bottom:177.541560px;}
.y55{bottom:189.419900px;}
.y13{bottom:191.156760px;}
.y12{bottom:212.820300px;}
.y11{bottom:234.660200px;}
.y4f{bottom:236.580100px;}
.y29{bottom:270.688900px;}
.y4e{bottom:282.850600px;}
.y28{bottom:283.888900px;}
.y27{bottom:297.088900px;}
.y4d{bottom:297.245100px;}
.y26{bottom:310.289100px;}
.y4c{bottom:311.706100px;}
.y4b{bottom:326.167000px;}
.y25{bottom:339.089100px;}
.y4a{bottom:340.561500px;}
.y24{bottom:353.489100px;}
.y49{bottom:355.022500px;}
.y23{bottom:367.889100px;}
.y48{bottom:369.482400px;}
.y22{bottom:382.289100px;}
.y10{bottom:404.365380px;}
.y47{bottom:405.059600px;}
.yd{bottom:426.200200px;}
.y46{bottom:432.919480px;}
.y44{bottom:445.700200px;}
.y45{bottom:445.919800px;}
.yf{bottom:453.819300px;}
.y43{bottom:458.698600px;}
.y41{bottom:472.818880px;}
.y42{bottom:472.862800px;}
.ye{bottom:473.816200px;}
.y3f{bottom:485.599600px;}
.y40{bottom:485.819200px;}
.y3e{bottom:498.594500px;}
.y3d{bottom:499.758380px;}
.y1b{bottom:507.459000px;}
.y3b{bottom:512.659880px;}
.y3c{bottom:512.758700px;}
.y39{bottom:525.440400px;}
.y3a{bottom:525.660200px;}
.yb{bottom:537.240000px;}
.y38{bottom:538.439820px;}
.y37{bottom:539.603700px;}
.y21{bottom:546.829000px;}
.y35{bottom:552.560100px;}
.y36{bottom:552.604020px;}
.y20{bottom:560.005000px;}
.y33{bottom:565.339800px;}
.y34{bottom:565.560100px;}
.y1f{bottom:573.181000px;}
.y1e{bottom:586.357000px;}
.y31{bottom:592.459480px;}
.y32{bottom:592.503400px;}
.y1d{bottom:599.533000px;}
.y30{bottom:605.240200px;}
.y1c{bottom:612.709000px;}
.y2e{bottom:632.299380px;}
.y2f{bottom:632.343300px;}
.y3{bottom:637.859900px;}
.y2d{bottom:645.080100px;}
.y2c{bottom:658.072380px;}
.y52{bottom:669.274980px;}
.y2{bottom:672.000000px;}
.y9{bottom:677.220000px;}
.y6{bottom:679.020000px;}
.y51{bottom:682.055700px;}
.y8{bottom:688.140100px;}
.y1{bottom:697.620100px;}
.y2b{bottom:719.919900px;}
.y4{bottom:725.520000px;}
.h5{height:12.541000px;}
.ha{height:20.340000px;}
.h9{height:26.713477px;}
.hb{height:27.848555px;}
.h8{height:29.272852px;}
.h3{height:29.766094px;}
.h6{height:30.516680px;}
.h10{height:31.724000px;}
.he{height:32.507812px;}
.hd{height:32.531250px;}
.hf{height:34.608000px;}
.h12{height:37.270898px;}
.h4{height:37.898906px;}
.h7{height:41.099000px;}
.h2{height:65.062500px;}
.h13{height:65.700000px;}
.hc{height:83.101000px;}
.h1{height:643.500000px;}
.h11{height:656.000000px;}
.h0{height:792.000000px;}
.w3{width:165.780000px;}
.w4{width:167.400000px;}
.w2{width:182.160000px;}
.w7{width:185.280000px;}
.w5{width:482.100000px;}
.w6{width:497.000000px;}
.w1{width:538.500000px;}
.w0{width:612.000000px;}
.x7{left:7.199900px;}
.xc{left:43.200400px;}
.x4{left:57.599900px;}
.xa{left:65.000000px;}
.x1{left:72.000000px;}
.x0{left:73.500000px;}
.xd{left:86.339800px;}
.x6{left:102.180000px;}
.xb{left:108.000000px;}
.x8{left:109.620100px;}
.x9{left:145.616200px;}
.x2{left:429.840000px;}
.x3{left:443.760000px;}
.x5{left:465.359900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.160320pt;}
.lsd{letter-spacing:-0.128000pt;}
.lsc{letter-spacing:-0.117120pt;}
.ls4{letter-spacing:-0.106880pt;}
.lsa{letter-spacing:-0.074560pt;}
.ls5{letter-spacing:-0.064000pt;}
.ls7{letter-spacing:-0.058560pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.058560pt;}
.ls8{letter-spacing:0.064000pt;}
.ls1{letter-spacing:0.074560pt;}
.lsb{letter-spacing:0.117120pt;}
.ls9{letter-spacing:0.175680pt;}
.ls6{letter-spacing:0.292800pt;}
.lse{letter-spacing:0.468480pt;}
.wsd{word-spacing:-0.468480pt;}
.ws5{word-spacing:-0.292800pt;}
.ws8{word-spacing:-0.175680pt;}
.wsb{word-spacing:-0.117120pt;}
.ws1{word-spacing:-0.074560pt;}
.ws7{word-spacing:-0.064000pt;}
.ws2{word-spacing:-0.058560pt;}
.ws0{word-spacing:0.000000pt;}
.ws6{word-spacing:0.058560pt;}
.ws9{word-spacing:0.064000pt;}
.wsa{word-spacing:0.074560pt;}
.ws4{word-spacing:0.106880pt;}
.wsc{word-spacing:0.117120pt;}
.ws3{word-spacing:0.160320pt;}
._c{margin-left:-180.941547pt;}
._4{margin-left:-3.712000pt;}
._3{margin-left:-1.536000pt;}
._1{width:1.405440pt;}
._7{width:25.478293pt;}
._8{width:27.636480pt;}
._a{width:29.311360pt;}
._5{width:48.741333pt;}
._b{width:87.422933pt;}
._9{width:152.100267pt;}
._6{width:178.783680pt;}
._2{width:835.328000pt;}
._0{width:1877.248000pt;}
.fs3{font-size:53.440000pt;}
.fs1{font-size:58.560000pt;}
.fs5{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs2{font-size:74.560000pt;}
.fs0{font-size:128.000000pt;}
.yc{bottom:-22.959333pt;}
.y5{bottom:3.199867pt;}
.ya{bottom:14.799733pt;}
.y7{bottom:40.880267pt;}
.y1a{bottom:48.880267pt;}
.y54{bottom:73.039867pt;}
.y2a{bottom:74.666667pt;}
.y5a{bottom:77.712000pt;}
.y19{bottom:78.000000pt;}
.y59{bottom:95.280000pt;}
.y50{bottom:137.279013pt;}
.y18{bottom:138.806000pt;}
.y0{bottom:140.000000pt;}
.y17{bottom:158.086000pt;}
.y16{bottom:176.239600pt;}
.y58{bottom:193.647200pt;}
.y53{bottom:198.800000pt;}
.y15{bottom:206.399733pt;}
.y57{bottom:214.086000pt;}
.y56{bottom:233.367200pt;}
.y14{bottom:236.722080pt;}
.y55{bottom:252.559867pt;}
.y13{bottom:254.875680pt;}
.y12{bottom:283.760400pt;}
.y11{bottom:312.880267pt;}
.y4f{bottom:315.440133pt;}
.y29{bottom:360.918533pt;}
.y4e{bottom:377.134133pt;}
.y28{bottom:378.518533pt;}
.y27{bottom:396.118533pt;}
.y4d{bottom:396.326800pt;}
.y26{bottom:413.718800pt;}
.y4c{bottom:415.608133pt;}
.y4b{bottom:434.889333pt;}
.y25{bottom:452.118800pt;}
.y4a{bottom:454.082000pt;}
.y24{bottom:471.318800pt;}
.y49{bottom:473.363333pt;}
.y23{bottom:490.518800pt;}
.y48{bottom:492.643200pt;}
.y22{bottom:509.718800pt;}
.y10{bottom:539.153840pt;}
.y47{bottom:540.079467pt;}
.yd{bottom:568.266933pt;}
.y46{bottom:577.225973pt;}
.y44{bottom:594.266933pt;}
.y45{bottom:594.559733pt;}
.yf{bottom:605.092400pt;}
.y43{bottom:611.598133pt;}
.y41{bottom:630.425173pt;}
.y42{bottom:630.483733pt;}
.ye{bottom:631.754933pt;}
.y3f{bottom:647.466133pt;}
.y40{bottom:647.758933pt;}
.y3e{bottom:664.792667pt;}
.y3d{bottom:666.344507pt;}
.y1b{bottom:676.612000pt;}
.y3b{bottom:683.546507pt;}
.y3c{bottom:683.678267pt;}
.y39{bottom:700.587200pt;}
.y3a{bottom:700.880267pt;}
.yb{bottom:716.320000pt;}
.y38{bottom:717.919760pt;}
.y37{bottom:719.471600pt;}
.y21{bottom:729.105333pt;}
.y35{bottom:736.746800pt;}
.y36{bottom:736.805360pt;}
.y20{bottom:746.673333pt;}
.y33{bottom:753.786400pt;}
.y34{bottom:754.080133pt;}
.y1f{bottom:764.241333pt;}
.y1e{bottom:781.809333pt;}
.y31{bottom:789.945973pt;}
.y32{bottom:790.004533pt;}
.y1d{bottom:799.377333pt;}
.y30{bottom:806.986933pt;}
.y1c{bottom:816.945333pt;}
.y2e{bottom:843.065840pt;}
.y2f{bottom:843.124400pt;}
.y3{bottom:850.479867pt;}
.y2d{bottom:860.106800pt;}
.y2c{bottom:877.429840pt;}
.y52{bottom:892.366640pt;}
.y2{bottom:896.000000pt;}
.y9{bottom:902.960000pt;}
.y6{bottom:905.360000pt;}
.y51{bottom:909.407600pt;}
.y8{bottom:917.520133pt;}
.y1{bottom:930.160133pt;}
.y2b{bottom:959.893200pt;}
.y4{bottom:967.360000pt;}
.h5{height:16.721333pt;}
.ha{height:27.120000pt;}
.h9{height:35.617969pt;}
.hb{height:37.131406pt;}
.h8{height:39.030469pt;}
.h3{height:39.688125pt;}
.h6{height:40.688906pt;}
.h10{height:42.298667pt;}
.he{height:43.343750pt;}
.hd{height:43.375000pt;}
.hf{height:46.144000pt;}
.h12{height:49.694531pt;}
.h4{height:50.531875pt;}
.h7{height:54.798667pt;}
.h2{height:86.750000pt;}
.h13{height:87.600000pt;}
.hc{height:110.801333pt;}
.h1{height:858.000000pt;}
.h11{height:874.666667pt;}
.h0{height:1056.000000pt;}
.w3{width:221.040000pt;}
.w4{width:223.200000pt;}
.w2{width:242.880000pt;}
.w7{width:247.040000pt;}
.w5{width:642.800000pt;}
.w6{width:662.666667pt;}
.w1{width:718.000000pt;}
.w0{width:816.000000pt;}
.x7{left:9.599867pt;}
.xc{left:57.600533pt;}
.x4{left:76.799867pt;}
.xa{left:86.666667pt;}
.x1{left:96.000000pt;}
.x0{left:98.000000pt;}
.xd{left:115.119733pt;}
.x6{left:136.240000pt;}
.xb{left:144.000000pt;}
.x8{left:146.160133pt;}
.x9{left:194.154933pt;}
.x2{left:573.120000pt;}
.x3{left:591.680000pt;}
.x5{left:620.479867pt;}
}
