/* css styling for my personal porfolio website */

:root {
    --primary-colorWhite: #F5FCFF;
    --primary-colorBlue: #5E3BEE;
    --primary-colorRed: #E62872;
    --primary-colorHeader: #282938;
    --primary-colorBody: #1C1E53;
  
    --font-main: roboto;
  }
  
  /* beginning of main styling for the pages */
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-colorBody);
    background-color: var(--primary-color);
  }
  
  /* navigation bar starts here */
  
  nav {
    background-color: #ffffff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav li {
    height: 50px;
  }
  
  nav a {
    height: 100%;
    padding: 0 1.5rem; /* Adjusted padding for responsiveness */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  nav a button {
    height: 70%;
    padding: 0 1rem; /* Adjusted padding for responsiveness */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-colorBlue);
    background-color: #ffffff;
    color: var(--primary-colorBlue);
  }
  
  nav a img {
    height: 250%;
  }
  
  nav li:first-child {
    margin-right: auto;
  }
  
  nav li:last-child {
    margin-left: auto;
  }
  
  .hoverer:hover {
    background-color: var(--primary-colorBlue);
    color: #ffffff;
  }
  
  .contact-btn {
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: var(--primary-colorBlue);
    color: #ffffff;
    border: hidden;
  }
  
  .menu-btn {
    border: 1px solid black;
    display: none;
    justify-content: center;
    align-items: end;
    position: relative;
    bottom: 20px;
    right: -40%;
  }
  
  /* end of the navigation bar */
  
  /* this is the beginning of the sidebar navigation */
  
  .sideBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #f5f5f521;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .sideBar li {
    width: 100%;
  }
  
  .sideBar a {
    width: 100%;
  }
  
  /* this is the end of the side bar navigation */
  

  /* beginning of header */
header {
    width: 100%;
    height: auto;
    background-color: var(--primary-colorWhite);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.144);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.header1 {
    width: 47%;
    height: auto;
    overflow: hidden;

}
.header2 {
    width: 53%;
    height: 350px;
}
.profession-ctn{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}
.profession-h1 {
    font-size: 32px;
}
.profession-h1 strong{
    color: var(--primary-colorBlue);
}
.header1 button {
    background-color: var(--primary-colorBlue);
    color: var(--primary-colorWhite);
    border: hidden;
    margin-top: 30px;
    height: 40px;
    width: 20%;
    border-radius: 5px;
}
.header1 button:hover{
    cursor: pointer;
    background-color: var(--primary-colorBody);
}
.header2 img {
    width: 100%;
    height: inherit;
}

/* beginning of skills section */

skill {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.skill-head {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skill-items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
}
.skill-card{
    width: 22%;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    background-color: var(--primary-colorWhite);
}
.skill-card img {
    width: 15%;
    height: 30px;
}

/* beginning of the about me sesction of the home page */

about {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.About-img{
    width: 45%;
    height: 500px;
}
.About-content {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.About-img img{
    width: 100%;
    height: inherit;
}

/* beginning of the porfolio section */

portfolio {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.port-1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.port-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.port-header {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.port-header h1 {
    font-size: 40px;
    font-weight: 700;
}

.port1-btn {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-colorRed);
    border: hidden;
    border-radius: 4px;
    padding: 6px 6px 6px 6px;
}
.port1-btn img {
    width: 20%;
}
.port1-btn a {
    text-decoration: none;
    color: var(--primary-colorWhite);
}
.port1-btn:hover {
    background-color: var(--primary-colorHeader);
}
.port2-card {
    border: 1px solid rgba(98, 96, 96, 0.061);
    width: 30%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}
.port2-card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.port2-text {
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.portcard-btn {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: var(--primary-colorWhite);
    border: 0.5px solid rgba(170, 169, 169, 0.549);
    border-radius: 5px;
}
.portcard-btn > a {
    text-decoration: none;
    text-align: center;
}
.portcard-btn > img {
    width: 30%;
    height: inherit;
    padding: 10px 10px;
}
.portcard-btn:hover{
    background-color: var(--primary-colorHeader);
    cursor: pointer;
}
.portcard-btn a:hover {
    color: var(--primary-colorWhite);
}

/* beginning of testimony section */

testimony {
    width: 100%;
    height: auto;
    background-color: var(--primary-colorWhite);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.test-head {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.test-head h1 {
    font-size: 32px;
}
.test-item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.test-card {
    border: 1px solid rgba(0, 0, 0, 0.136);
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    border-radius: 5px;
}
.test-card img {
    width: 40%;
    height: 20px;
}
.testifier {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.testifier img {
    width: 30%;
    height: 40px;
}
.testifier-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
} 

/* beginning of the contact section  */

contact {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-ctn {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.contact-holder h1 {
    font-size: 32px;
}
.contact-holder p:last-child {
    font-style: italic;
    opacity: 50%;
}

form {
    width: 100%;
    height: auto;
}

/* the input part of the form */

.form-wrapper1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 20px;
    width: 48%;
  }
  .form-group2 {
    margin-bottom: 20px;
    width: 100%;
  }
  .form-group2 select {
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.221);
    border-radius: 4px;
  }
  .form-group3 {
    margin-bottom: 20px;
    width: 100%;
  }
  .form-group4 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .form-group5 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  input[type="submit"] {
    background-color: var(--primary-colorBlue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  input[type="submit"]:hover {
    background-color: var(--primary-colorBody);
  }


  /* beginning of the footer section */

  footer {
    width: 100%;
    height: auto;
    background-color: var(--primary-colorWhite);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .footer-ctn {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

.footer_img {
    width: 10%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_img img {
    width: 100%;
    height: inherit;
}

.footer_nav {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_nav a {
    text-decoration: none;
    font-weight: 400;
}

.social_icon {
    width: 15%;
    height: inherit;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.social_icon img {
    width: 50%;
    height: inherit;
}



/* media query for tablet */

  @media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .header1 button {
        width: 40%;
    }
    .skill-card {
        width: 30%;
    }
    .port2-card {
        width: 45%;
    }
    .port2-card:last-child {
        margin-top: 25px;
    }
    .test-card {
        width: 45%;
    }
    .test-card:last-child {
        margin-top: 40px;
    }
    .testifier {
        width: 75%;
    }
    .form-group {
        margin-bottom: 20px;
        width: 100%;
    }
    .footer_nav {
        width: 70%;
    }
  }

/* media query for phone  */

  @media(max-width: 480px) {
    .sideBar{
        width: 100%;
    }
    .header1 {
        width: 100%;
        align-items: center;
    }
    .header2 {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .header1 button {
        width: 30%;
    }
    skill {
        align-items: center;
    }
    .skill-head {
        align-items: center;
    }
    .skill-head h1 {
        text-align: center;
    }
    .skill-card {
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }
    .skill-card:last-child {
        margin-bottom: 0px;
    }
    .About-img {
        display: none;
    }
    .About-content {
        width: 100%;
        align-items: center;
    }
    .port-1 {
        flex-direction: column;
    }
    .port-header {
        width: 50%;
        align-items: center;
        margin-bottom: 10px;
    }
    .port-header h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .port2-card {
        width: 100%;
        margin-bottom: 25px;
    }
    .port2-card:last-child {
        margin-bottom: 0px;
    }
    .test-head {
        align-items: center;
    }
    .test-head {
        text-align: center;
    }
    .test-card {
        width: 100%;
        margin-bottom: 30px;
    }
    .test-card:last-child {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .testifier {
        width: 75%;
    }
    .contact-holder p:last-child {
        font-style: italic;
        opacity: 100%;
        color: var(--primary-colorRed);
    }
    .social_icon {
        width: 40%;
    }
    .footer-ctn {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer_img {
        display: none;
    }
    .footer_nav {
        width: 100%;
    }
    .footer_nav a {
        font-size: 8px;
    }
  }